/* ----------   background   ---------- */
.bb{
background:url(../../images/index/bg.png) repeat;
height:100%;
}   
/* ---------- Column widths ---------- */

.portlet-column-content.empty {
	padding: 50px;
}

/* ---------- Wrapper ---------- */

#wrapper {
	padding: 0 5em 0;/*��2em*/
	background:url(../../images/index/bg.png) repeat;/*CQ*/
	/*background-color:red; CQ����*/
	@include respond-to(phone) {
		padding-left: 0.5em;
		padding-right: 0.5em;
	}

	@include respond-to(tablet) {
		padding-left: 2em;
		padding-right: 2em;
	}
	
}


#wrapper2 {
	background:url(../../images/index/bg2.png) repeat;/*CQ*/

	
}
/* ---------- Wrapper-CQ ---------- */
/*#wrapper #heading{height:74px;}*/
